@charset "utf-8";

@font-face {
  font-family: "scdream2";
  src: url("../fonts/SCDream7.otf");
}
@font-face {
  font-family: "scdream4";
  src: url("../fonts/SCDream7.otf");
}
@font-face {
  font-family: "scdream5";
  src: url("../fonts/SCDream7.otf");
}
@font-face {
  font-family: "scdream";
  src: url("../fonts/SCDream7.otf");
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MICEGothic Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
:root {
  --text-color: #f0f4f5;
}
.top {
  background-color: rgb(113, 80, 212);
  position: fixed;
  color: white;
  width: 100%;
  text-align: center;

  font-size: 4px;
}

.container {
  display: flex; /*한줄로*/
  position: fixed; /*스크롤 내려도 고정*/
  width: 100%;
  height: 90px;
  border: 1px;
  /*box-sizing: border-box;  살짝 크기 안맞을 때 이용하는 거?*/
  justify-content: space-between; /*컴포넌트 사이에 공간*/
  align-items: center; /* 같은 줄 Height 가운데 정렬*/
  background-color: rgb(255, 255, 255);
  padding-left: 13px; /*위 8, 양옆 20*/
  z-index: 3;
}
.logo {
  width: 250px;
  margin-right: 0px;
}
.logolink {
  font-family: "room";
  text-decoration: none;
  display: flex;
}
.subtitle {
  height: 84px;
  color: black;
  width: 180px;
  text-align: left;
}
.subtitle :local h5 {
  letter-spacing: 2px;
}
.subtitle h5 {
  margin-bottom: 0px;
  margin-top: 30px;
  font-family: "Pretendard-Regular";
  line-height: 18px;
}

.topLi {
  width: 130px;
  text-align: center;
}
.manuBar {
  list-style: none;
  display: flex;
  padding-left: 0%;
}
.manuBarLink {
  font-family: "scdream";
  font-family: "MICEGothic Bold";
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 8px 24px; /*리스트 요소 간 간격*/
  padding: 0px; /*리스트 요소 간 간격*/
  font-size: 22px;
  display: inline-block;
  height: 40px;
  padding-top: 20px;
  border-bottom: 5px solid rgb(255, 255, 255);
}
.manuBarLink:hover {
  font-size: 22px;
  transition: 0.5s;
  color: rgb(106, 23, 183);
  border-bottom: 5px solid rgb(106, 23, 183);
}
.subMemu {
  display: none;
  list-style: none;
  padding-left: 0px;
  font-size: 14px;
  text-align: center;
}
.manuBarLink:hover .subMemu {
  display: block;
}
.subLink {
  text-decoration: none;
  display: block;
  margin: 10px;
}

.login {
  padding: 20px;
  width: 250px;
  display: flex;
  justify-content: center;
}
.button {
  display: inline-block;
  height: 50px;
  width: 88px;
  font-family: "MICEGothic Bold";
  background-color: rgba(215, 215, 215, 0.449);
  border: none;
  color: rgb(0, 0, 0);
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  margin: 4px 5px;
  cursor: pointer;
  border-radius: 10px;
}
.button:hover {
  background-color: rgb(165, 165, 165, 0.449);
}
.googlediv {
  margin: 40px;
}

.sidemenuicon {
  width: 80px;
  padding: 5px;
  font-size: 20px;
}
.sidenav-btn__icon {
  padding: 10px;
}
.sideBar {
  position: absolute;
  top: 10vh;
  right: 0;
  width: 28vw;
  height: 90vh;
  margin: 0;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}
.sideBarLink {
  align-items: center;
  display: inline-block;
  display: flex;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 10px 16px;
  font-family: "MICEGothic Bold";
  font-weight: 100;
}
.sideBarLink:hover {
  transition: 0.6s;
  color: white;
  background-color: black;
  border-radius: 10px;
  font-size: 30px;
}
@media (max-width: 630px) {
  .sideBarLink {
    font-size: 14px;
  }
  .sideBarLink:hover {
    /*font-size: 24px;*/
  }
  .subIcon {
    display: none;
  }
}
.sideBarli {
  list-style: none;
  margin: 10px;
  padding: 5px;
}

.subBarText {
  margin-left: 10px;
}
